html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*main code*/
*{
    background-color: #18181b;
}
/* starta nav*/
.arahan1{
    margin-left: 15px;
}
.navbar-nav{
    font-size: 20px;
    margin-right:20px;
}
/* end nav*/
/* start hello*/
.hello{
    padding:80px;
    padding-bottom: 30px;
 color: white;
 text-align: center;
}

.uis{
    color: #6366f1 ;
    font-size: 60px;
}
.H_0{
    font-size: 60px;
}
.H_2{
    font-size: 60px;
    padding-bottom: 20px;
}
.H_1{
    margin-left:100px;
    margin-right:100px;
    color: rgb(187, 187, 187);
    font-size: 15px;
}
/* end hello*/
/* start icon*/
.res_1{
    
    padding-top:  50px;
}
.btn-secondary{
    background-color: #3b3d8f !important;
    border: #18181b !important;
    
}
.btn-1{
    margin-left: 410px ;
}
.btn-2{
    margin-left: -15px ;
}
.btn-3{
    margin-left: -450px ;
}
/* end icon*/
/* start project*/
.pro1{
    color:#6366f1;    font-size:2em;
    padding-top: 100px;
    padding-bottom: 40px;
}
.pro2{
    width: 80%;
    margin-top: 80px;
}
.pro3{
    width: 80%;
    margin-top: 250px;
}
.col{
    padding-top: 20px;
   
}
.card{
    border:  #18181b !important;

}
.card-text{    color: whitesmoke;
}
/* end project*/
/* start skill*/
#skill{
    padding-bottom: 30px;
}
.skill_1{
    background-color:rgb(245, 245, 245);
}
.skill_1H{
    background-color:whitesmoke;
}
.skill_2{
    background-color:rgb(245, 245, 245);
}
.skill_3{
    background-color: rgb(245, 245, 245);
}

/* end skill*/
/* start kontak*/
.con1{
    color:#6366f1;    font-size:2em;
    padding-top: 50px;
    padding-bottom: 40px;
}
.bbtn{
    padding-bottom: 50px;
}
/* end kontak*/
/* start footer*/
.ftr{ 
   
    background-color: #3b3d8f;
}
.text-white{
    background-color: #3b3d8f ;
    color: aliceblue !important;
}
/* end footer*/
/* my responsive start */
@media only screen and (min-width:300px) and (max-width:992px) {
    /* start nav*/
    .navbar-nav{
        margin-left: 15px;
    }
     /* end nav*/
      /*start hello*/
    .hello{
        padding:80px;
        padding-bottom: 30px;
     color: white;
     text-align: center;
    }
    .uis{
        color: #6366f1 ;
    }
    .H_0{
        font-size: 30px;
        color: white;
    }
    .uis{
        font-size: 30px;
    }
    .H_1{
        margin: auto;
        font-size: 10px;
    }
    .H_2{
        font-size: 15px;
        padding-bottom: 5px;
}
 /*end  hello*/
  /*start  icon*/
.btn-1{
    margin-left: 50px;
}
.btn-2{
    margin-left: -3px;
    margin-top: -25px;
}
.btn-3{
    margin-left: -20px;
}
.btni {
   padding-left: 50px !important;
}
 /*end icon*/
 /*start project*/
.card{
    border:#18181b!important ;
}
.col-md-4{
    margin-left: 45px;
    width: 300px !important;
    height: 300px !important;
}
/*end project*/
/*starts skill*/
.skill_1{
    margin: 10px !important;
}
.skill_2{
    margin: 10px !important;
}
.skill_3{
    margin: 10px !important;
}
.skill_1H{
    padding: 10px;
}
/*end skill*/
/*start contact*/
.btn-secondary{
    background-color: #3b3d8f !important;
    margin-left: 70px;
    margin-right: 100px;
}
.btn-ctn{
    margin-bottom:40px;
}
/*end contact*/

}
/*By Uisss*/

